body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-image: url(bg.jpg) ;
    background-size: cover;
    width: 100%;
  }

  ol, ul {
    padding-left: 30px;
  }

  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }

  .status {
    margin-bottom: 10px;
  }

  .square {
    background: #fff;
    border: 2px solid grey;
    float: left;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 5px 5px 5px;
    line-height: 45 px;
    height: 100px;
    margin: 2px;
    padding: 0;
    text-align: center;
    width: 100px;
  }

  .square:focus {
    outline: none;
  }

  .kbd-navigation .square:focus {
    background: #ddd;
  }

  .game {
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  .game-info {
    margin-left: 20px;
  }
  #root{
    margin-top: 10%;
    margin-left:10%;
    /* border-radius: 10px;
    background-color:#e5e5e5;
    box-shadow:5px 5px 50px black;
    width: 50%; */
    padding: 20px;

  }
  .divi{

    margin-left : 300px;
  }
